.all {
    font-weight: bold;
}
.top-word {
    border: 2px solid red;
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}
.first-level-relations {
    margin-left: 40px;
}
.second-level-relations {
    margin-left: 80px;
}
.first-level {
    font-size: 14px;
    border: 2px solid green;
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}
.second-level {
    font-size: 14px;
    border: 2px solid blue;
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}
.word {
    font-size: 20px;
    border-bottom: 2px solid red;
}
.synN {
    font-size: 20px;
}
.relN {
    font-size: 20px;
    border-bottom: 2px solid green;
}
.relN2 {
    font-size: 20px;
    border-bottom: 2px solid blue;
}
.search-bar {
    text-align: center;
    margin: 50px 50px;
}

.panel {
    background-color: rgb(187, 184, 184);
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.input-panel {
    padding: 20px 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    padding-right: 20px;
    padding-top: 20px;
}
.finish-button {
    width: 20%;
    margin: 10px auto;
}
.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputF {
    margin-right: 10px !important;
}

.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.standard-fields, .additional-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1310px) {
    .input-fields {
        flex-direction: column;
    }
    .additional-fields {
        justify-content: space-evenly;
    }
}
@media (max-width: 924px) {
    .standard-fields, .additional-fields {
        flex-direction: column;
    }
    .inputF {
        margin-top: 20px;
    }
    .input-panel {
        justify-content: space-around;
    }
}
