.all {
    font-weight: bold;
}
.search-bar {
    text-align: center;
    margin: 50px 50px 20px 50px;
}

.panel {
    background-color: rgb(187, 184, 184);
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.input-panel {
    padding: 20px 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    padding-right: 20px;
    padding-top: 20px;
}
.finish-button {
    width: 20%;
    margin: 10px auto;
}
.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputF {
    margin-right: 10px !important;
}

.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.standard-fields, .additional-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1310px) {
    .input-fields {
        flex-direction: column;
    }
    .additional-fields {
        justify-content: space-evenly;
    }
}
@media (max-width: 924px) {
    .standard-fields, .additional-fields {
        flex-direction: column;
    }
    .inputF {
        margin-top: 20px;
    }
    .input-panel {
        justify-content: space-around;
    }
}

.list-wrapper:first-child {
    margin-bottom: 10px;
}
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
}
.list-header {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.list-item {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    margin: 5px;
}
.list-item-name {
    padding-right: 5px;
    border-right: 1px solid black;
}
.list-item-value {
    padding-left: 5px;
}