<div class="all">
    <div class="search-bar">
        <input style="font-size:18pt;height:30px;width:200px;" type="text" #input>
        <button style="font-size:14pt;height:25px;width:200px;" (click)="search(input.value)">Search</button>
        <!-- <div *ngIf="ready === -1">READY TO GO</div>
        <div *ngIf="ready === 0">PROCESSING</div>
        <div *ngIf="ready === 1">DONE</div> -->
        <div>{{procent}}%</div>{{znalezione}}/{{szukane}}
        <div class="list">
            <span *ngFor="let item of listOfFrequencies">
                <span class="itemFreq"><span class="itemFreqName">{{item.name}}</span><span class="itemFreqValue">{{item.value}}</span></span>
            </span>
        <button (click)="executeList()">Execute List</button>
        </div> 
    </div>
        <div class="panel">
          <div *ngFor="let item of outputTable; index as i" class="input-panel">
            <div class="input-fields">
              <div class="standard-fields">
                <div class="inputF">
                    <p-autoComplete field="name" class="in" [size]="30" [placeholder]="'word 1'" [(ngModel)]="item.word1" [suggestions]="filteredWords1" (completeMethod)="filterWords1($event, i)" [dropdown]="true">
                      <ng-template let-word pTemplate="template">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        <div style="font-size:18px;display:flex;flex-direction: row; justify-content: space-between;margin:10px 10px 0 0"><div>{{word.name}}</div> <div style="color: red">{{word.value}}</div> </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                </div>
                <div class="inputF">
                    <p-autoComplete class="in" [size]="30" [placeholder]="'Relation from word 1 to word 2'" [(ngModel)]="item.rel" [suggestions]="filteredRel" (completeMethod)="filterRelations($event, i)" [dropdown]="true"></p-autoComplete>
                </div>
                <div class="inputF">
                    <p-autoComplete field="name" class="in" [size]="30" [placeholder]="'word 2'" [(ngModel)]="item.word2" [suggestions]="filteredWords2" (completeMethod)="filterWords2($event, i)" [dropdown]="true">
                      <ng-template let-word pTemplate="template">
                          <!-- <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5"> -->
                            <div style="font-size:18px;display:flex;flex-direction: row; justify-content: space-between;margin:10px 10px 0 0"><div>{{word.name}}</div> <div style="color: red">{{word.value}}</div> </div>
                          <!-- </div> -->
                      </ng-template>
                    </p-autoComplete>
                </div>
                <button *ngIf="!isDefined(item.rel2)" (click)="addNewRelation(i)">ADD</button>
              </div>
              <div *ngIf="isDefined(item.rel2)" class="additional-fields">
                <div class="inputF">
                    <p-autoComplete class="in" [size]="30" [placeholder]="'Relation from word 2 to word 3'" [(ngModel)]="item.rel2" [suggestions]="filteredRel2" (completeMethod)="filterRelations2($event, i)" [dropdown]="true"></p-autoComplete>
                </div>
                <div class="inputF">
                  <p-autoComplete field="name" class="in" [size]="30" [placeholder]="'word 3'" [(ngModel)]="item.word3" [suggestions]="filteredWords3" (completeMethod)="filterWords3($event, i)" [dropdown]="true">
                    <ng-template let-word pTemplate="template">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="font-size:18px;display:flex;flex-direction: row; justify-content: space-between;margin:10px 10px 0 0"><div>{{word.name}}</div><div style="color: red">{{word.value}}</div></div>                        
                        </div>
                    </ng-template>
                  </p-autoComplete>                    
                </div>
              </div>
            </div>
            <div class="buttons">
                <button class ="anohter-input" (click)="anotherInput()"> + </button>
                <button *ngIf="i > 0" class="delete-button" (click)="deleteElement(i)"> - </button>
            </div>
          </div>
          <button class="finish-button" (click)="finish()">Finish</button>
        </div>
    <!-- <div *ngFor="let item of final" class="top-list">
        <div class="top-word">
            <span class="word">word: {{item.word}}</span>
            <span>senseID: {{item.senseID}}</span>
            <span>synsetID: {{item.synsetID}}</span>
        </div>
        <div *ngFor="let i of item.content" class="first-level-relations">
            <div class="first-level">
                <span class="synN">{{i.synsetName}}</span>
                <span class="relN">{{i.relationName}}</span>
                <span>{{i.synsetID}}</span>
            </div>
            <div *ngFor="let index of i.content" class="second-level-relations">
                <div class="second-level">
                    <span class="synN">{{index.synsetName}}</span>
                    <span class="relN2">{{index.relationName}}</span>
                    <span>{{index.synsetID}}</span>
                </div>
            </div>
        </div>
    </div> -->
</div>
