<div class="all">
    <div class="search-bar">
        <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)" accept=".csv" />
        <input style="font-size:18pt;height:30px;width:200px;" type="text" #input>
        <button style="font-size:14pt;height:25px;width:200px;" (click)="search(input.value)">Search</button>
        <div>{{procent}}%</div>{{znalezione}}/{{szukane}}
        <button (click)="executeList()">Execute List</button>
        <div>{{FoundedTags}} / {{searchesTags}}</div>
    </div>
    <div class="lists">
        <div class="list-wrapper">
            <div class="list-header">tags</div>
            <div class="list">
                <span class="list-item" *ngFor="let item of listOfTags">
                    <span class="list-item-name">{{item.name}}</span>
                    <span class="list-item-value">{{item.value}}</span>
                </span>
            </div>
        </div>
        <div class="list-wrapper">
            <div class="list-header">frequency list</div>
            <div class="list">
                <span class="list-item" *ngFor="let item of helpList">
                    <span class="list-item-name">{{item.name}}</span>
                    <span class="list-item-value">{{item.value}}</span>
                </span>
            </div>
        </div>
    </div>
        <!-- <div class="panel">
          <div *ngFor="let item of outputTable; index as i" class="input-panel">
            <div class="input-fields">
              <div class="standard-fields">
                <div class="inputF">
                    <p-autoComplete field="name" class="in" [size]="30" [placeholder]="'word 1'" [(ngModel)]="item.word1" [suggestions]="filteredWords1" (completeMethod)="filterWords1($event, i)" [dropdown]="true">
                      <ng-template let-word pTemplate="template">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        <div style="font-size:18px;display:flex;flex-direction: row; justify-content: space-between;margin:10px 10px 0 0"><div>{{word.name}}</div> <div style="color: red">{{word.value}}</div> </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                </div>IS
                <div class="inputF">
                    <p-autoComplete class="in" [size]="30" [placeholder]="'Relation from word 1 to word 2'" [(ngModel)]="item.rel" [suggestions]="filteredRel" (completeMethod)="filterRelations($event, i)" [dropdown]="true"></p-autoComplete>
                </div>OF
                <div class="inputF">
                    <p-autoComplete field="name" class="in" [size]="30" [placeholder]="'word 2'" [(ngModel)]="item.word2" [suggestions]="filteredWords2" (completeMethod)="filterWords2($event, i)" [dropdown]="true">
                      <ng-template let-word pTemplate="template">
                        <div style="font-size:18px;display:flex;flex-direction: row; justify-content: space-between;margin:10px 10px 0 0"><div>{{word.name}}</div> <div style="color: red">{{word.value}}</div> </div>
                      </ng-template>
                    </p-autoComplete>
                </div>IS
                <button *ngIf="!isDefined(item.rel2)" (click)="addNewRelation(i)">ADD</button>
              </div>
              <div *ngIf="isDefined(item.rel2)" class="additional-fields">
                <div class="inputF">
                    <p-autoComplete class="in" [size]="30" [placeholder]="'Relation from word 2 to word 3'" [(ngModel)]="item.rel2" [suggestions]="filteredRel2" (completeMethod)="filterRelations2($event, i)" [dropdown]="true"></p-autoComplete>
                </div>OF
                <div class="inputF">
                  <p-autoComplete field="name" class="in" [size]="30" [placeholder]="'word 3'" [(ngModel)]="item.word3" [suggestions]="filteredWords3" (completeMethod)="filterWords3($event, i)" [dropdown]="true">
                    <ng-template let-word pTemplate="template">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="font-size:18px;display:flex;flex-direction: row; justify-content: space-between;margin:10px 10px 0 0"><div>{{word.name}}</div><div style="color: red">{{word.value}}</div></div>                        
                        </div>
                    </ng-template>
                  </p-autoComplete>                    
                </div>
              </div>
            </div>
            <div class="buttons">
                <button class ="anohter-input" (click)="anotherInput()"> + </button>
                <button *ngIf="i > 0" class="delete-button" (click)="deleteElement(i)"> - </button>
            </div>
          </div>
          <button class="finish-button" (click)="finish()">Finish</button>
        </div> -->
    <button (click)="drawTree = !drawTree">Draw Tree</button>
    <app-graphic-tree
        [listOfTags]='listOfTags'
        [allRelationsTable]='final' 
        [listOfFrequencies]='listOfFrequencies' 
        [searchTags]='searchesTags' 
        [foundTags]='FoundedTags' 
        *ngIf="drawTree">
    </app-graphic-tree>
</div>
