.all {
    font-weight: bold;
}
.search-bar {
    text-align: center;
    margin: 50px 50px;
}

.panel {
    background-color: rgb(187, 184, 184);
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.input-panel {
    padding: 20px 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    padding-right: 20px;
    padding-top: 20px;
}
.finish-button {
    width: 20%;
    margin: 10px auto;
}
.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputF {
    margin-right: 10px !important;
}

.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.standard-fields, .additional-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1310px) {
    .input-fields {
        flex-direction: column;
    }
    .additional-fields {
        justify-content: space-evenly;
    }
}
@media (max-width: 924px) {
    .standard-fields, .additional-fields {
        flex-direction: column;
    }
    .inputF {
        margin-top: 20px;
    }
    .input-panel {
        justify-content: space-around;
    }
}
.itemFreq {
    display: inline-block;
    background-color: white;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.itemFreqName {
    margin-right: 5px;
}
.itemFreqValue {
    border-left: 1px solid black;
    padding: 5px 0 5px 5px;
}
.list {
    margin: 10px auto;
}
.item-list {
    margin-bottom: 10px;
    word-wrap: break-word
}